version: "3"
services:
  timescaledb:
    container_name: ${UO_INSTANCE}-timescaledb
    image: timescale/timescaledb-postgis
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1024k"
        max-file: "10"
    networks:
      - timescaledb
    environment:
      - UO_INSTANCE
      - TABLE_PREFIX
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./:/docker-entrypoint-initdb.d:ro
      - ../../../../shared/drivers/sql/:/tmp/sql:ro
      - pgdata:/var/lib/postgresql/data
    command:
      - "postgres"
      - "-c"
      - "max_locks_per_transaction=512"
networks:
  timescaledb:
volumes:
  pgdata:
    driver: local
